*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 10vh;
}

.home-container{
  height: 90vh;
}

.search-button{
  border-left: none;
}

.categories-up::-webkit-scrollbar{
  width: 0;
}
